#!/bin/bash
########## SSYNC CONFIGURATION ######### 
### This file will be sourced.       ###
### Please use only absolute paths.  ###

#Local repository
syncrepo="/systemsync/repo"
gituser="computer1"
gitemail="user@localhost"
machinebranch="computer1"

#Central repository location and master branch
giturl="https://localhost/systemsync.git"
syncbranch="master"

#Security - leave empty to disable commit signing & signature checks
gpgkey="A1B2C3D4"
